{% extends 'base1.html.twig' %}
{% block content %}
    <div id="page-wrapper" >
    <div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h5>Welcome Admin , Love to see you back, here you can check all Ads !! </h5>
        </div>
    </div>
    <!-- /. ROW  -->
    <hr/>
    <div class="row">
    <div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
    <div class="panel-heading">
        New category
    </div>
    <div class="col-12">
    <div class="card">
    <div class="card-header">


    <div class="card-tools">
    <div class="input-group input-group-sm" style="width: 150px;">

    <div class="card-body table-responsive p-0">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>note</th>
                    <th>Name</th>


                    <th>Category</th>


                </tr>
                </thead>
                <tbody>
                {% for i in Service %}
                    <tr>
                        <td>note</td>
                        <td>{{ i.name}}</td>
                        <td>{{ i.category.name}}</td>
                        <td><a href="{{ path ('delete_service',{'id':i.getServiceId()}) }}">
                                <button type="button" class="btn btn-primary">
                                                                        <i class="fas fa-minus-circle"></i> Delete
                                                                    </button></a></td>

                        <td><a href="{{ path('update_service',{'id':i.getServiceId()}) }}">
                                <button type="button" class="btn btn-primary">
                                    <i class="fas fa-minus-circle"></i> update
                                </button></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>

{% endblock %}